@import "https://habracdn.net/mk/assets/application-fea048ce5eaf2eb81f7a93269275ac4e.css";
.section{
  width: 600px;
  margin: 0 auto;
}

.messages .message .info .username,
.messages .message .info .text {
  text-align: left;
}

.avatar {
  background: #ccc;
  padding: 9px;
}

.messages {
  min-height: 400px;
}